{% extends 'dashborad/base.html' %}

{% block content %}

<!-- page content -->
 <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Patient Health Dashboard</h3>
        </div>

        <div class="title_right">
          <div class="col-md-10 col-sm-10 col-xs-12 form-group pull-right top_search">
            <div class="input-group">

                <select name="patient_id"  class="form-control">
                {% for entry in patients %}
                    <option value="{{ entry.id }}">{{ entry.name }}</option>
                {% endfor %}
                </select>
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
<div class="row">

</div>
    </div>
  </div>
  <!-- page content -->

  {% endblock content %}